@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--red-1: #fe3b3a;
	--red-2: #ff5656;
	--red-3: #ffbfbf;
	--orange-1: #ff8801;
	--orange-2: #feb555;
	--orange-3: #fde5bb;
	--yellow-1: #ffcc00;
	--yellow-2: #ffe055;
	--yellow-3: #fff6b9;
	--green-1: #05c270;
	--green-2: #56de9a;
	--green-3: #a4f0cc;
	--blue-1: #3568d4;
	--blue-2: #3d7cff;
	--blue-3: #b3cbff;
	--purple-1: #6500cd;
	--purple-2: #b56bdf;
	--purple-3: #efd2f3;
	--dark-1: #151625;
	--dark-2: #191a2c;
	--dark-3: #28293d;
	--light-1: #ffffff;
	--light-2: #f2f2f4;
	--gray: #9090a7;

	--gradient-1: linear-gradient(-68deg, var(--purple-1), var(--blue-2));
	--gradient-2: linear-gradient(-68deg, var(--red-1), var(--orange-2));

	--primary-font: "Poppins", sans-serif;
}

/* GENERAL */

html {
	font-size: 62.5%;
	/* Now 10px = 1rem! */
	scroll-behavior: smooth;
}

body {
	font-family: var(--primary-font);
	background-color: var(--dark-1);
	color: var(--light-1);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo{
	width: 40px;
	height: auto;
}

.logo2{
	width: 10rem;
	height: auto;
	margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
a,
p {
	font-weight: 300;
	text-align: center;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
	font-weight: 400;
}

h4 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.14em;
}

a {
	font-size: 1.8rem;
	font-weight: 300;
	text-decoration: none;
	letter-spacing: 0.2rem;
	color: var(--gray);
	transition-duration: 0.3s;
}

/* hover effect */

a {
	position: relative;
}

a:hover {
	color: var(--light-1);
}

a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: var(--light-1);
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

p,
label,
input,
select,
option,
span,
button {
	font-size: 1.8rem;
	font-weight: 300;
}

li {
	list-style: none;
}

/* UTILITIES */

.modal{
	background-color: var(--dark-2);
	position: fixed;
	width: 85%;
	top: 10%;
	border-radius: 0.5rem;
	padding: 2rem 1rem 1rem 1rem;
	z-index: 500;
}

.blue-tag{
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.7rem 3rem;
	min-width: fit-content;
	color: var(--blue-1);
	background-color: #3567d420;
	border-radius: 0.3rem;
}

.txt-section {
	display: flex;
	flex-direction: column;
}

.txt-blue {
	color: var(--blue-1);
}

.subtitle {
	margin-bottom: 1rem;
}

.container {
	width: 85%;
	margin-top: 15vh;
	margin-bottom:4vh;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.titulo {
	width: 100%;
	align-items: center;

}

.buscar {
	width: 100%;
	background-color: #05c270;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Forms */

form{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 1.5rem;
}

.lbl {
	width: 100%;
	font-weight: 200;
	margin-bottom: 0.5rem;
}

.inp {
	background-color: var(--dark-3);
	width: 100%;
	border: none;
	border-radius: 0.3rem;
	padding: 1.2rem;
	color: var(--light-1);
	border: 0.2rem solid var(--dark-3);
	transition-duration: 0.1s;
}

.inp:focus {
	outline: none;
}

.inp:focus-visible {
	border: 0.2rem solid var(--blue-1);
	transition-duration: 0.1s;
}

.inp::placeholder {
	color: var(--gray);
}

.btn {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3rem;
	background: var(--blue-1);
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border: none;
}

.btn-logout{
	width: 85%;
	position: absolute;
	bottom: 2rem;
}

.btn:hover {
	cursor: pointer;
}

.btn:after {
	content: " ";
	width: 0%;
	height: 100%;
	background: var(--light-1);
	position: absolute;
	transition: all 0.4s ease-in-out;
	right: 0;
}

.btn:hover::after {
	right: auto;
	left: 0;
	width: 100%;
}

.btn span {
	text-align: center;
	text-decoration: none;
	width: 100%;
	padding: 1.2rem 3rem;
	color: var(--light-1);
	letter-spacing: 0.2rem;
	z-index: 20;
	transition: all 0.3s ease-in-out;
}

.btn:hover span {
	color: var(--dark-1);
	animation: scaleUp 0.3s ease-in-out;
}

select {
	text-transform: capitalize;
}

/* Categories checkboxes */

.categories-checkboxes{
	margin-top: 1rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.categories-checkboxes .form-group{
	width: fit-content;
	padding: 0.8rem 0.9rem;
	margin: 0.5rem;
	background-color: #3568d420;
	flex-direction: row;
	border-radius: 0.9rem;
	color: var(--blue-1);
}

.categories-checkboxes .form-group label{
	margin-left: 1rem;
}


/* Navigation */

.data-user{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 85%;
	margin-bottom: 1rem;
}

.data-user::after{
	content: " ";
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--gray);
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.data-user .email{
	font-weight: 200;
	color: var(--gray);
}

.data-user .role{
	color: var(--gray);
}

.data-user button{
	width: 100%;
	background-color: #05c27020;
	border-radius: 0.3rem;
	color: var(--green-1);
	padding: 0.5rem 1rem;
	font-weight: 200;
	border: none;
	cursor: pointer;
}

.navbar {
	width: 100%;
	height: 15vh;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-1);
	z-index: 30;
}

.navbar-content {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-content .logo {
	position: relative;
	z-index: 30;
	width: 4rem;
	height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navlinks-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
}

.menu-title{
	width: 85%;
	text-align: start;
}

.menu-title::after{
	content: " ";
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--gray);
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.navlinks-mobile {
	width: 100%;
	padding-top: 15vh;
	background-color: var(--dark-1);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	-webkit-animation: slide-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navlinks-mobile .links {
	margin: 0;
	background-color: var(--dark-2);
	border-radius: 0.5rem;
	text-align: center;
	width: 100%;
	padding: 1.5rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.navlinks-mobile .links svg{
	width: 3rem;
	height: auto;
	margin-right: 3rem;
	text-align: center;
}

.active-link {
	color: var(--light-1);
	background-color: #3568d420;
}

.open {
	-webkit-animation: slide-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.close {
	-webkit-animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.navlinks {
	display: none;
}

@keyframes slide-left {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes slide-right {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

/* Animation */

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

/* Home */

.login-signup-navigation {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.login-signup-navigation .btn {
	box-shadow: none;
	background-color: var(--dark-3);
}

.login-signup-navigation .active {
	background-color: var(--blue-1);
}

.login-signup-navigation .btn:first-of-type {
	border-radius: 0.3rem 0 0 0.3rem;
}

.login-signup-navigation .btn:last-of-type {
	border-radius: 0 0.3rem 0.3rem 0;
}

/* Home page */

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.section-title {
    font-size: 30px;
    line-height: 1.500;
    text-align: justify;
    text-justify: inter-word;
}

.process-menu a{
    text-decoration: none;
    color: #f2f2f4;
    letter-spacing: normal;
}

.parrafo h3 {
    font-weight: bold;
}

.number{
    color: #151625;
    background-color:#b3cbff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.images{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.container2 {
    margin-top: 8rem;
    width: 100%;
    padding-right: var(--bs-gutter-x,10px);
    padding-left: var(--bs-gutter-x,10px);
    margin-right: auto;
    margin-left: auto;
}

/* All Jobs */

.job-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	background-color: var(--dark-3);
	border-radius: 0.5rem;
	padding: 2rem 1rem 1rem 1rem;
}

/* Card */

.card {
	background-color: var(--dark-2);
	border-radius: 0.3rem;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
	padding: 2.5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* Gradient Scroll Bar */

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background-color: var(--dark-1);
}

::-webkit-scrollbar-thumb {
	background: var(--gradient-1);
	border-radius: 1rem;
}

/* Responsive Desktop */

@media (min-width: 1269px) {
	.card {
		width: 50%;
		padding: 2.5rem 3rem;
	}

	.login-signup-navigation {
		width: 50%;
	}

	.txt-section {
		display: flex;
		flex-direction: row;
	}

	.txt-section p:first-of-type {
		margin-right: 0.8rem;
	}

	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 6rem;
	}

	h3 {
		font-size: 3.5rem;
	}

	h4 {
		font-size: 2.5rem;
	}

	a {
		font-size: 2rem;
	}

	p {
		font-size: 2rem;
	}

	/* Navbar */

	.hamburger-react {
		display: none;
	}

	.navlinks {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.blue-tag{
		margin: 0;
		margin-right: 3rem;
		margin-left: 3rem;
	}

	.navlinks .links {
		margin-right: 3rem;
		min-width: fit-content;
	}

	.navlinks .links:last-of-type{
		margin-right: 0rem;
	}

	.navlinks-mobile {
		display: none;
	}
}
