.navbar {
	width: 85%;
	height: 10vh;
	padding: 3.5rem 0;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
    align-items: center;
	background-color: var(--dark-1);
	z-index: 30;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .links{
	color: var(--gray);
	margin-right: 2rem;
    text-decoration: none;
	transition-duration: 0.1s;
}

nav .links:last-of-type{
	margin-right: 0;
}

nav .links:hover{
	color: var(--light-1);
	transition-duration: 0.4s;
}

.active-link{
	color: var(--light-1);
}